<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Flash"
            id="BigSource_Zarkov">
      </category>
      <view
            name="Zarkov Monitor"
            icon="icons/bigsource.gif"
            category="BigSource_Zarkov"
            class="de.bigsource.zarkov.views.ZarkovMonitor"
            id="bigsource_zarkov.views.FcshMonitor">
      </view>
      <view
            name="Zarkov Targets"
            icon="icons/bigsource.gif"
            category="BigSource_Zarkov"
            class="de.bigsource.zarkov.views.ZarkovTargetsView"
            id="bigsource_zarkov.views.ZarkovTargetsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="bigsource_zarkov.views.FcshMonitor">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.bigsource.zarkov.views.TargetsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="BigSource_Zarkov"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            description="Inspired by the rocket scientist from Flash Gordon."
            name="BigSource Zarkov">
         <property
               name="appName"
               value="BigSource Zarkov">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="de.bigsource.zarkov.ant.Mxmlc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Mxmlc.class"
            name="bigsource.mxmlc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.FlashPlayer"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Compc.class"
            name="bigsource.flashplayer">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Compc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Compc.class"
            name="bigsource.compc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Mtasc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Mtasc.class"
            name="bigsource.mtasc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AsDoc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AsDoc.class"
            name="bigsource.asdoc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Amxmlc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Amxmlc.class"
            name="bigsource.amxmlc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Adl"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Adl.class"
            name="bigsource.adl">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AdtPackage"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AdtPackage.class"
            name="bigsource.adt_package">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AdtCertificate"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AdtCertificate.class"
            name="bigsource.adt_certificate">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AdtSign"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AdtSign.class"
            name="bigsource.adt_sign">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AdtPrepare"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AdtPrepare.class"
            name="bigsource.adt_prepare">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Haxe"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Haxe.class"
            name="bigsource.haxe">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Browser"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Browser.class"
            name="bigsource.browser">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.AAsDoc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/AAsDoc.class"
            name="bigsource.aasdoc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.ACompc"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/ACompc.class"
            name="bigsource.acompc">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Reducer"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Reducer.class"
            name="bigsource.apparat.reducer">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.TDSI"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/TDSI.class"
            name="bigsource.apparat.tdsi">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Coverage"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Coverage.class"
            name="bigsource.apparat.coverage">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Concrete"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Concrete.class"
            name="bigsource.apparat.concrete">
      </antTask>
      <antTask
            class="de.bigsource.zarkov.ant.Stripper"
            eclipseRuntime="true"
            headless="false"
            library="bin/de/bigsource/zarkov/ant/Stripper.class"
            name="bigsource.apparat.stripper">
      </antTask>
   </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="BigSource Zarkov.actionSet1"
          label="Start/Stop Fcsh">
    </actionSet>
    <actionSet
          id="de.bigsource.zarkov.actionSet"
          label="Zarkov Action Set"
          visible="true">
       <menu
             id="bigsource_zarkov_menu"
             label="Zarkov">
          <separator
                name="bigsource_zarkov">
          </separator>
       </menu>
       <action
             class="de.bigsource.zarkov.actions.StartStopFcsh"
             icon="icons/start_stop.gif"
             id="de.bigsource.zarkov.actions.StartStopFcsh"
             label="&amp;Start/Stop Fcsh"
             menubarPath="bigsource_zarkov_menu/bigsource_zarkov"
             toolbarPath="bigsource_zarkov"
             tooltip="Start/Stop Fcsh">
       </action>
       <action
             class="de.bigsource.zarkov.actions.ClearZarkovMonitor"
             icon="icons/bin.png"
             id="de.bigsource.zarkov.actions.ClearZarkovMonitor"
             label="&amp;Clear Zarkov Monitor"
             menubarPath="bigsource_zarkov_menu/bigsource_zarkov"
             toolbarPath="bigsource_zarkov"
             tooltip="Clear Zarkov Monitor">
       </action>
    </actionSet>
 </extension>
</plugin>
